html {
  font-size: 16px; }
  html.big-letters {
    font-size: 24px; }

body {
  text-align: center;
  font-size: 1rem;
  margin: 0; }
  body.dark {
    background: #000;
    color: #fff; }

.notification-container {
  display: none;
  background-color: #333;
  color: #fff;
  height: 7rem;
  justify-content: center; }
  .with-cookie-notification .notification-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .notification-container .notification-button,
  .notification-container .notification-text {
    align-self: center; }
  .notification-container .notification-button {
    margin-left: 15px; }

.button {
  cursor: pointer;
  font-size: 1rem; }

main {
  max-width: 80%;
  margin: 0 auto; }
  @media (min-width: 1300px) {
    main {
      max-width: 60%; } }
  main .main-img {
    max-width: 100%; }

.page-preferences .options {
  display: none; }
  .page-preferences .options.active {
    display: block; }

.tabs {
  margin: 1.25rem auto;
  border: 1px solid #333; }
  .tabs .tabs-buttons {
    display: flex;
    justify-content: space-between; }
    .tabs .tabs-buttons .button {
      flex: 1; }
  .tabs .tab-panel {
    display: none; }
    .tabs .tab-panel.active {
      display: block; }
