body {
  text-align: center; }

.notification-container {
  display: none;
  background-color: #333;
  color: #fff;
  height: 7rem;
  justify-content: center; }
  .with-cookie-notification .notification-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .notification-container .notification-button,
  .notification-container .notification-text {
    align-self: center; }
  .notification-container .notification-button {
    margin-left: 15px; }

main {
  max-width: 80%;
  margin: 0 auto; }
  @media (min-width: 1300px) {
    main {
      max-width: 60%; } }
  main .main-img {
    max-width: 100%; }

.tabs {
  margin: 1.25rem auto;
  border: 1px solid #333; }
  .tabs .tabs-buttons {
    display: flex;
    justify-content: space-between; }
    .tabs .tabs-buttons .button {
      flex: 1; }
  .tabs .tab-panel {
    display: none; }
    .tabs .tab-panel.active {
      display: block; }
