body {
  height: 100vh;
  text-align: center; }

.main-img {
  max-width: 80%; }

.notification-container {
  display: none;
  background-color: #333;
  color: #fff;
  height: 7rem;
  justify-content: center; }

.with-cookie-notification .notification-container {
  display: flex; }

.notification-button,
.notification-text {
  align-self: center; }

.notification-button {
  margin-left: 15px; }

.tabs {
  margin: 1.25rem auto;
  border: 1px solid #333;
  max-width: 80%; }
  .tabs .tabs-buttons {
    display: flex;
    justify-content: space-between; }
    .tabs .tabs-buttons .button {
      flex: 1; }
  .tabs .tab-panel {
    display: none; }
    .tabs .tab-panel.active {
      display: block; }
